<!DOCTYPE html>
<html>
  <head>
    <title>Embedding Mixed Queries</title>
	<%- include('./layout/include_header') %>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <div class="loader"></div>
    <div class="header-search-bar container-fluid">
      <div class="container header-search-content">
        <h5 class="demo-title"><img class="demo-logo" src="./images/logo.svg"/>Embedding Mixed Queries</h5>
        <div class="keyword-input-selector" style="display: none;">
          <select class="keyword-operator">
            <option value="plus">+</option>
            <option value="minus">-</option>
          </select>
          <select class="keyword-type">
            <option value="singer">歌手</option>
            <option value="song">歌名</option>
            <option value="album">專輯</option>
          </select>
        </div>
        <!--
        <input class="keyword-input" type="text" data-role="tagsinput"></input>
        -->
        <table class="keyword-input-wrapper">
          <tr>
              <td class="firstInput"><p class="keywordType"></p><input type="text" placeholder="keyword..."/></td>
              <td class="operatorContainer"><button class="operatorBtn kk-hover-shadow addOperator">+</button></td>
              <td class="secondInput"><p class="keywordType"></p><input type="text" placeholder="keyword..."/></td>
              <td class="operatorContainer"><button class="operatorBtn calcOperator kk-hover-shadow">=</button></td>
          </tr>
        </table>
        <!--
        <input class="keyword-input" type="text" placeholder="請輸入關鍵字..."></input>
        <font class="se-area">Search Expression =</font>
      -->
      </div>
    </div>
    <div class="no-result">
      <div class="no-result-block">
        <p>Sorry,</p>
        <p>no results were found for your search.</p>
      </div>
    </div>
    <div class="container main-container">
      <div class="row">
        <div class="col-md-3 tryit-area not-show" style="position: fixed;width: 255px;"><!-- width 255px -->
          <div style="width: 225px;">
            <h4>Try It!</h4>
            <iframe src="https://widget.kkbox.com/v1/?id=Pa0NfMzqWKr80xUY_N&type=song&terr=JP&lang=JA"></iframe>
            <h5>History</h5>
            <table class="play-history-table">
            </table>
          </div>
        </div>
        <div class="col-md-12 offset-md-0 change-size" style="z-index: 1000;">
          <div class="list-container">

          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    let totalWidth = 0;
    const severPath = '';
    function changeURL(type, first, second){
        url = (typeof second !== 'undefined') ? `?type=${type}&first=${first}&second=${second}` : `?type=${type}&first=${first}`
        $('meta[property="og:url"]').attr('content','http://'+window.location.host+window.location.pathname+url);
        $('meta[property="og:title"]').attr('content',(typeof second !== 'undefined') ? `Recommendation for query '${first} + ${second}' -- Embedding Mixed Queries` : `Recommendation for keyword '${first}' -- Embedding Mixed Queries`);
				window.history.pushState({},0,'https://'+window.location.host+window.location.pathname+url);		
		}
        function toast(title, content) {
          $.toast({
            heading: title,
            text: content,
            showHideTransition: 'fade',
            hideAfter: 3000, 
            position: 'top-right',
            icon: 'error'
          });
        }
        $(document).ready(function(){
            totalWidth = parseInt($('.keyword-input-wrapper').width()) - 120;
            $('.firstInput').css('width', (totalWidth) + 'px');
            $('.firstInput input').focus();
            $('.firstInput').on('click',function(){
              $('.firstInput input').focus();
            });
            $('.secondInput').on('click',function(){
              $('.secondInput input').focus();
            });
        });
        $(window).resize(function(){
            totalWidth = parseInt($('.keyword-input-wrapper').width()) - 120;
            if($('.addOperator').hasClass('active')){
                $('.firstInput').css('width', (totalWidth/2) + 'px');
                $('.secondInput').css('width', (totalWidth/2) + 'px');
            }else{
                $('.firstInput').css('width', (totalWidth) + 'px');
                $('.secondInput').css('width', '0px');
            }
        });
        
    $('body').on('click','.song-play',function(){
      if($('.tryit-area').hasClass('not-show')){
        $('.change-size').removeClass('col-md-12');
        $('.change-size').removeClass('offset-md-0');
        $('.change-size').addClass('col-md-9');
        $('.change-size').addClass('offset-md-3');
        $('.tryit-area').removeClass('not-show');
      }
        var id = String($(this).parent().parent().parent().parent().attr('playid'));
        $('iframe').attr('src','https://widget.kkbox.com/v1/?id='+id+'&type=song&terr=JP&lang=JA&autoplay=true');
        var imgsrc = $(this).parent().find('.song-img img').attr('src');
        var name = $(this).parent().find('.song-info').find('div').eq(0).html();
        var artist = $(this).parent().find('.song-info').find('div').eq(1).html().split(' . ')[0];
        $('.play-history-table').append('<tr><td><img src="'+imgsrc+'"></img></td><td class="history-info"><p class="history-title">'+name+'</p><p class="history-artist">'+artist+'</p></td></tr>')
    });
    $(document).ready(function(){
      <% if(algo == 'gqe'){ %>
      $('.addOperator').addClass('active');
      $('.firstInput').css('width', (totalWidth/2) + 'px');
      $('.secondInput').css('width', (totalWidth/2) + 'px');
      $('.secondInput input').focus();
      t = setTimeout(function(){
          $('.secondInput').addClass('tdPadding');
      },1000);
      $('.keyword-input-wrapper input').on('keydown', function(){
        $('.keywordType').fadeOut(500);
      });
      <% } %>
      //measure();
      var x = 1;
      $('.list-container .list-item').each(function(){
        $(this).css('margin-top',String(x*105)+'px');
        x++;
      });
      $('body').on('keypress','.firstInput',function(e){
            if(e.keyCode == 43 && $('.addOperator').not('.active').length){
                e.preventDefault();
                    $('.addOperator').addClass('active');
                    $('.firstInput').css('width', (totalWidth/2) + 'px');
                    $('.secondInput').css('width', (totalWidth/2) + 'px');
                    $('.secondInput input').focus();
                    t = setTimeout(function(){
                        $('.secondInput').addClass('tdPadding');
                        $('.addOperator').addClass('showDelete');
                    },1000);
            }
        });
        $('body').on('keypress','.keyword-input-wrapper input',function(e){
            if(e.keyCode == 61 || e.keyCode == 13){
                e.preventDefault();
                $('.header-search-bar').addClass('active');
                startSearch();
            }
        });
        <% if(algo=='hpe'){ %>
        $('body').on('click','.addOperator',function(){
            if($('.addOperator').hasClass('active')){
                $('.addOperator').removeClass('active');
                $('.addOperator').removeClass('showDelete');
                $('.firstInput').css('width', (totalWidth) + 'px');
                $('.secondInput').removeClass('tdPadding');
                $('.secondInput').css('width', '0px');
                $('.firstInput input').focus();
            }else{
                $('.addOperator').addClass('active');
                $('.firstInput').css('width', (totalWidth/2) + 'px');
                $('.secondInput').css('width', (totalWidth/2) + 'px');
                $('.secondInput input').focus();
                t = setTimeout(function(){
                    $('.secondInput').addClass('tdPadding');
                    $('.addOperator').addClass('showDelete');
                },1000);
            }
        });
        <% } %>
        $('body').on('click','.calcOperator',function(){
          $('.header-search-bar').addClass('active');
          startSearch();
        });
      <% if (k1!='' && algo=='hpe') { %>
        $('.firstInput>input').val('<%= k1 %>');
        <% if (k2!='') { %>
          $('.secondInput>input').val('<%= k2 %>');
          $('.addOperator').addClass('active');
      $('.firstInput').css('width', (totalWidth/2) + 'px');
      $('.secondInput').css('width', (totalWidth/2) + 'px');
      $('.secondInput input').focus();
      t = setTimeout(function(){
          $('.secondInput').addClass('tdPadding');
          startSearch();
      },1000);
        <% }else{ %>
          startSearch();
          <% } %>
      <% }else if (k1!='' && k2!='') { %>
        $('.addOperator').addClass('active');
      $('.firstInput').css('width', (totalWidth/2) + 'px');
      $('.secondInput').css('width', (totalWidth/2) + 'px');
      $('.secondInput input').focus();
      t = setTimeout(function(){
          $('.secondInput').addClass('tdPadding');
          startSearch();
      },1000);
        $('.firstInput>input').val('<%= k1 %>');
        $('.secondInput>input').val('<%= k2 %>');
        
      <% } %>
      function startSearch() {
        <% if (algo == "hpe"){ %>
          if ($('.firstInput>input').val() == ''){
            toast('Input Error', "Input's is empty!");
            return;
          } else if($('.secondInput>input').val() == '' && $('.addOperator').hasClass('active')){
            toast('Input Error', "Input's is empty!");
            return;
          }
        <% } else if (algo == "gqe"){ %>
          if ($('.firstInput>input').val() == '' || $('.secondInput>input').val() == ''){
            toast('Input Error', "Input's is empty!");
            return;
          }
        <% } %>
        $('.no-result').fadeOut(500);
        $('.loader').fadeIn(500);
        <% if(algo=="gqe"){ %>
          $('.keywordType').fadeOut(500);  
        <% } %>
        var data;
        if($('.addOperator').hasClass('active')){
          data = {
            status: true,
            k1: $('.firstInput>input').val(),
            k2: $('.secondInput>input').val()
          }
          changeURL('<%= algo %>',$('.firstInput>input').val(),$('.secondInput>input').val());
        }else{
          data = {
            status: true,
            k1: $('.firstInput>input').val()
          }
          changeURL('hpe',$('.firstInput>input').val());
        }
        const apiPath = ($('.addOperator').hasClass('active')) ? '<%= (algo=="hpe")?"hpe/multi_search":"gqe" %>' : 'hpe';
        if($('.header-search-bar').hasClass('active')){
          $.post(severPath+apiPath, data, function(rtn) {
            $('.loader').fadeOut(500);
            if(rtn.status){
              <% if(algo=="gqe"){ %>
                $('.firstInput .keywordType').html((rtn.k1_is_singer) ? 'Singer' : 'Song');
                $('.secondInput .keywordType').html((rtn.k2_is_singer) ? 'Singer' : 'Song');
                if (rtn.k1_is_singer) $('.firstInput .keywordType').addClass('singer');
                else $('.firstInput .keywordType').removeClass('singer');
                if (rtn.k2_is_singer) $('.secondInput .keywordType').addClass('singer');
                else $('.secondInput .keywordType').removeClass('singer');
                $('.keywordType').fadeIn(500);
              <% } %>
              var new_arr = [];
              for(var i = 0; i < rtn.list.length;i++){
                  new_arr.push({
                     id:  rtn.list[i].song_id,
                     song_id: rtn.list[i].song_id,
                     rank: i+1,
                     name: rtn.list[i].song_name,
                     album: rtn.list[i].album,
                     artist: rtn.list[i].singer,
                     year: '',
                     img: rtn.list[i].image,
                     play_id: rtn.list[i].pid
                  });
              }
              if(new_arr.length > 0){
                $('meta[property="og:image"]').attr('content',new_arr[0].album);
              }
              //console.log(new_arr);
              var ex = $.Callbacks();
              ex.add(setorder(new_arr));
              ex.fire();
              ex.remove(setorder);
              ex.add(moveitem);
              ex.fire();
              var t = setTimeout(function(){
                $('.list-container .list-item:not(.checked)').remove();
                $('.list-container .list-item').removeClass('godown').removeClass('checked');
            },500);
            }else{
              switch(rtn.msg){
                case 'Please enter correct keyword!':
                  toast('Input Error', "Input's is empty!");
                  break;
                case 'Sorry, input not found!':
                var ex = $.Callbacks();
                  ex.add(setorder([]));
                  ex.fire();
                  ex.remove(setorder);
                  ex.add(moveitem);
                  ex.fire();
                  var t = setTimeout(function(){
                    $('.list-container .list-item:not(.checked)').remove();
                    $('.list-container .list-item').removeClass('godown').removeClass('checked');
                    $('.no-result').fadeIn(500);
                  },500);
                  break;
                default:
                  toast('Service Error','Sorry, service error!');
              }
            }
          });
        }else{
            $('.header-search-bar').addClass('active');
          $.post(severPath+apiPath, data, function(rtn) {
            $('.loader').fadeOut(500);
            if(rtn.status){
              <% if(algo=="gqe"){ %>
                $('.firstInput .keywordType').html((rtn.k1_is_singer) ? 'Singer' : 'Song');
                $('.secondInput .keywordType').html((rtn.k2_is_singer) ? 'Singer' : 'Song');
                if (rtn.k1_is_singer) $('.firstInput .keywordType').addClass('singer');
                else $('.firstInput .keywordType').removeClass('singer');
                if (rtn.k2_is_singer) $('.secondInput .keywordType').addClass('singer');
                else $('.secondInput .keywordType').removeClass('singer');
                $('.keywordType').fadeIn(500);
              <% } %>
              var new_arr = [];
              for(var i = 0; i < rtn.list.length;i++){
                  new_arr.push({
                     id:  rtn.list[i].song_id,
                     song_id: rtn.list[i].song_id,
                     rank: i+1,
                     name: rtn.list[i].song_name,
                     album: rtn.list[i].album,
                     artist: rtn.list[i].singer,
                     year: '',
                     img: rtn.list[i].image,
                     play_id: rtn.list[i].pid
                  });
              }
              if(new_arr.length > 0){
                $('meta[property="og:image"]').attr('content',new_arr[0].album);
              }
              //console.log(rtn);
              var ex = $.Callbacks();
              ex.add(setorder(new_arr));
              ex.fire();
              ex.remove(setorder);
              ex.add(moveitem);
              ex.fire();
              var t = setTimeout(function(){
                $('.list-container .list-item:not(.checked)').remove();
                $('.list-container .list-item').removeClass('godown').removeClass('checked');
            },500);
            }else{
              switch(rtn.msg){
                case 'Please enter correct keyword!':
                  toast('Input Error', "Input's is empty!");
                  break;
                case 'Sorry, input not found!':
                  var ex = $.Callbacks();
                  ex.add(setorder([]));
                  ex.fire();
                  ex.remove(setorder);
                  ex.add(moveitem);
                  ex.fire();
                  var t = setTimeout(function(){
                    $('.list-container .list-item:not(.checked)').remove();
                    $('.list-container .list-item').removeClass('godown').removeClass('checked');
                    $('.no-result').fadeIn(500);
                  },500);
                  break;
                default:
                  toast('Service Error','Sorry, service error!');
              }
            }
          });
        }
      };
      function setorder(in_arr){
		new_arr = in_arr.filter(
			function(a){if (!this[a.id]) {this[a.id] = 1; return a;}},{}
		);
          //console.log(new_arr);
        for(var i = 0; i < new_arr.length; i++){
          $('.'+String(new_arr[i].id)+'-item').addClass('checked');
          if($('.'+String(new_arr[i].id)+'-item').length==0){
              //console.log(new_arr[i].song_id);
              //console.log(i);
              //console.log(new_arr.length);
            $('.list-container').append('<div class="list-item '+String(new_arr[i].id)+'-item checked new-add" playid="'+new_arr[i].play_id+'" songid="'+new_arr[i].song_id+'" index="'+i+'" style="margin-top: '+String((new_arr.length+1)*105)+'px;opacity: 0;"><table class="song-table"><tr><td class="rank-num" style="display: none;"><div>'+new_arr[i].rank+'</div></td><td class="song-img" style="padding-left: 15px;padding-right: 15px;"><img src="'+new_arr[i].img+'"></img></td><td class="song-info"><div>'+new_arr[i].name+'</div><div>'+new_arr[i].artist+' . '+new_arr[i].year+' . '+new_arr[i].album+'</div></td><td class="rank-change"><img src="/images/rating-new.svg"></img></td><td class="song-rank"><p>New</p></td><td class="song-play"><img src="./images/play.svg"></img></td></tr></table></div>');
        }else if($('.'+String(new_arr[i].id)+'-item').attr('index')<i){
            const diff = i - $('.'+String(new_arr[i].id)+'-item').attr('index');
            $('.'+String(new_arr[i].id)+'-item').addClass('godown');
            $('.'+String(new_arr[i].id)+'-item').attr('index',i);
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').html(diff);
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').addClass('down');
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').removeClass('same');
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').removeClass('up');
        }else if($('.'+String(new_arr[i].id)+'-item').attr('index')==i){
          const diff = '--';
            $('.'+String(new_arr[i].id)+'-item').attr('index',i);
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').html(diff);
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').removeClass('down');
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').addClass('same');
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').removeClass('up');
          }else{
            const diff = $('.'+String(new_arr[i].id)+'-item').attr('index') - i;
            $('.'+String(new_arr[i].id)+'-item').attr('index',i);
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').html(diff);
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').removeClass('down');
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').removeClass('same');
            $('.'+String(new_arr[i].id)+'-item').find('td.song-rank>p').addClass('up');
          }
        }
        $('.list-container .list-item:not(.checked)').attr('index',new_arr.length+1).addClass('goout');
        //alert($('.id5-item').css('margin-top'));
      };
      function moveitem(){
        var t = setTimeout(function(){
          $('.list-container .list-item').each(function(){
            $(this).css('margin-top',String((parseInt($(this).attr('index'))+1)*105)+'px');
          });
          $('.list-container .list-item.new-add').each(function(){
            $(this).css('opacity','1');
          });
        },100);
      };
    });
  </script>
</html>
